@import '~@nebular/theme/styles/global/breakpoints';

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .header-items {
        display: flex;
        align-items: center;
        width: auto;
    }

    #left {
        a {
            padding: 0 1.25rem 0 0;
        }

        .sidebar-toggle {
            nb-icon {
                font-size: 1.75rem;
            }
        }

        .logo {
            img {
                padding-left: 1.25rem;
                height: 35px;
            }
        }
    }

    nb-action {
        height: auto;
    }

    @include media-breakpoint-down(sm) {
        .control-item {
            display: none;
        }
        .user-action {
            border: none;
            padding: 0;
        }
    }
}
