<div id="header">
    <div id="left" class="header-items">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-outline"></nb-icon>
        </a>
        <a class="logo" href="#" (click)="navigateHome()">
            <img src="assets/images/logo.png" alt="Logo">
        </a>
    </div>
    <div id="right" class="header-items">
        <nb-actions size="small">
          <nb-action class="control-item" icon="bell-outline" title="notifications"></nb-action>
          <nb-action class="user-action">
            <nb-user name="{{user.username}}" [nbContextMenu]="userMenu"></nb-user>
          </nb-action>
        </nb-actions>
    </div>
</div>