<nb-layout windowMode>
    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>
    <nb-sidebar tag="menu-sidebar" responsive start>
        <ng-content select="nb-menu"></ng-content>
    </nb-sidebar>
    <nb-layout-column>
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>
</nb-layout>