<app-centered-layout>
    <div>
        <nb-card>
            <nb-card-header>
                <h1 class="login-title">
                    Login
                </h1>
            </nb-card-header>
            <nb-card-body>
                <form class="login-form" (ngSubmit)="login()">
                    <div class="form-group">
                        <input nbInput type="text" name="username"
                            placeholder="username"
                            [(ngModel)]="user.username"
                            fullWidth required>
                    </div>
                    <div class="form-group">
                        <input nbInput type="password" name="password"
                            placeholder="password"
                            [(ngModel)]="user.password"
                            fullWidth required>
                    </div>
                    <button nbButton status="default" type="submit">Login</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</app-centered-layout>