<nb-layout>
    <nb-layout-column>
        <div class="row justify-content-md-center align-items-center fullheight">
            <div class="col-md-4">
                <ng-content select="div"></ng-content>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>